.list__wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    width: 30%;
}

.high {
    color: brown;
    font-weight: 900;
}

.middle {
    color: chocolate;
    font-weight: 600;
}

.low {
    color: gold;
    font-weight: 300;
}

.buttons__wrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
    height: 30px;
}
